/* OverlaySpinner.css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.spinner {
    width: 100px;
    height: 100px;
    color: rgb(66, 66, 240);
    z-index: 1051;
}


@media screen and (min-width: 320px) {
   
}

@media screen and (min-width: 768px) {
    .home-card-1 {
        border-bottom: 0px !important;
    }
   
    .home-card-1-2 {
        border-right: 1px solid rgb(66, 66, 240) !important;
    }
    
}

@media screen and (min-width: 1200px) {
    .home-card-1 {
        border-bottom: 0px !important;
    }

}