.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-height: 800px;
    overflow-y: auto;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    margin-bottom: 10px;
}

.modal-checkbox {
    width: 30px!important;
}

.green-btn-modale, .red-btn-modale {
    width: 150px;
}

.green-btn-modale {
    background-color: #087669!important;
    border: 2px solid #087669!important;
}

.grey-btn-modale {
    background-color: transparent!important;
    color: #087669!important;
    border: 2px solid #087669;

}

.grey-btn-modale:hover {
    background-color: #087669!important;
    color: white!important;
    border: 2px solid #087669;
}




@media screen and (min-width:768px) {
}

@media screen and (min-width:1200px) {
}